# Quarto and bookdown build artifacts
_book/
.quarto/

docs/images
docs/references
docs/site_libs
docs/dashboards.html
docs/google_cloud_platforms.html
docs/hr.html
docs/measures.html
docs/index.html
docs/operational_tasks.html
docs/project_ideas.html
docs/search.json
docs/tabular_editor.html
docs/useful_links.html



# Output and resource folders
images/
references/

# Quarto and project config files
_quarto.yml

# Quarto documents
dashboards.qmd
google_cloud_platforms.qmd
hr.qmd
index.qmd
measures.qmd
operational_tasks.qmd
project_ideas.qmd
tabular_editor.qmd
useful_links.qmd

# Stylesheets
styles.css
styles.css.map
styles.scss

/.quarto/


