// Define custom palette
$theme-pink: #ff93a0;
$theme-white: #ffffff;
$theme-purple: #bb568c;
$theme-brown: #3c281d;
$theme-red: #e73026;

// Override Bootstrap theme variables
$body-bg: $theme-white;
$body-color: $theme-brown;
$link-color: $theme-pink;
$link-hover-color: $theme-pink;
$primary: $theme-pink;
$secondary: $theme-purple;

/*-- scss:rules --*/

h1 {
    color: $theme-pink;
}

a {
    color: $theme-pink;
}
a:hover {
    color: $theme-red;
}

.alert {
    background-color: $theme-red;
    color: $theme-white;
}
